/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  overflow: hidden;
}

#home {
  background-color: rgb(63, 43, 7);
  overflow: hidden;
  height: 390px;
}
#home img {
  width: 100%;
}


#about {
  display: flex;
  background-color: rgb(30, 30, 30);
  color: white;
  justify-content: center;
  text-align: center;
}
#about .texto {
  font-size: 40px;
  padding-top: 2rem;
}


#work {
  display: flex;
  background-color: rgb(39, 38, 38);
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}
#work .texto {
  font-size: 40px;
  padding-top: 2rem;
}

.linha {
  height: 3px;
  background: linear-gradient(45deg, #e75d00, #cfbd57);
}


#galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(85, 84, 84);
}
#galeria .titulo-h2 {
  width: 100%;
}
#galeria h2 {
  font-size: 40px;
}
#galeria .small-card-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#galeria .small-card-con .small-card {
  display: flex;
  margin: 10px;
  background-color: rgb(41, 25, 25);
  width: 220px;
  height: 280px;
}
#galeria .small-card-con .small-card a {
  color: #e75d00;
  text-decoration: none;
}
#galeria .small-card-con .small-card a:hover {
  color: var(--color-white);
}
#galeria .small-card-con .small-card .small-card-text {
  padding: 5px;
  text-align: center;
}
#galeria .small-card-con .small-card:hover {
  background-color: #e75d00;
  transform: scale(1.03);
  transition: all 0.3s ease;
}


#contato {
  display: flex;
  background-color: rgb(39, 38, 38);
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}
#contato .texto {
  font-size: 40px;
  padding-top: 2rem;
}


.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #121314;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #e75d00;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: linear-gradient(45deg, #e75d00, #cfbd57);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #ffffff;
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: rgba(0, 0, 0, 0.671);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 3.4em;
  flex-grow: 5;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #e75d00;
  background: linear-gradient(45deg, #e75d00, #cfbd57);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  -webkit-animation-name: logo-hover;
          animation-name: logo-hover;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
          animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: white;
}

h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #e75d00;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }
  #nav {
    overflow: hidden;
    flex-direction: row;
    }
  .nav-link {
    border-top: none;
  }
  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }
  .btn-nav {
    display: none;
  }
  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }
  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }
  a:hover.nav-link:hover {
    color: white;
    background: #e75d00;
    background: linear-gradient(45deg, #e75d00, #cfbd57);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}